<div id="billerNewModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">New biller</h4>
            </div>

            <div class="modal-body">
                <form ng-submit="submitBiller()">
                    <label>Company name:</label>
                    <input class="form-control" ng-model="newBiller.companyName" required>
                    <br>
                    <br>
                    <input type="submit" value="Submit" class="btn btn-default">
                </form>
            </div>
        </div>
    </div>
</div>