<div id="paymentNewModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">New customer</h4>
            </div>

            <div class="modal-body">
                <form ng-submit="makeNewPayment()">
                    <div class="select-wrapper">
                        <div class="select-text">Choose a customer: </div>
                        <select ng-model="newPayment.customer" ng-options="cc.firstName + ' ' + cc.lastName for cc in customers" title="..."></select>
                    </div>
                    <br>
                    <div class="select-wrapper">
                        <div class="select-text">Choose a biller: </div>
                        <select ng-model="newPayment.biller" ng-options="bb.companyName for bb in billers" title="..."></select>
                    </div>
                    <br>
                    <label>Price$:</label>
                    <input type="number" class="form-control" ng-model="newPayment.price" required>
                    <br>
                    <label>Account:</label>
                    <input type="number" class="form-control" ng-model="newPayment.account" required>
                    <br>
                    <input type="submit" value="Submit" class="btn btn-default">
                </form>
            </div>
        </div>
    </div>

</div>